.input__base {
  padding: 15px 20px;
  border: none;
  background-color: #eee;
}
.input__base::placeholder {
  color: gray;
  font-style: italic;
}

.input__group {
    display: flex;
    flex-direction: column;
}

.error__size-span {
    color: #ff7575;
    font-size: .8rem;
    font-weight: 100;
}
