@import "components/button.css";
@import "components/modal.css";
@import "components/input.css";

:root {
  ---outline-color: rgba(206, 206, 206, 0.705);
  --box-shadow: 5px 3px 12px -1px rgba(175, 175, 175, 0.902);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

#App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketch__area {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.grid__container {
  display: flex;
  flex-wrap: wrap;
  border: none;
  box-shadow: var(--box-shadow);
}

.grid__cell {
  background-color: #f7f7f7;
  border: 0.5px solid var(---outline-color);
}

.sketch__controls {
  padding: 3rem;
  border: 1px solid var(---outline-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 512px;
}
